/* Universal Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    max-width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #EB892E;
}


/* Navigation Styles */

.navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 1px solid #EB892E;
    padding: 15px;
}

.navigation ul {
    margin: auto 0;
}
.navigation li {
    list-style: none;
    display: inline;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 25px;
    font-weight: 700;
}

.navigation li a:hover{
    color: #000;
}

.logo img{
    display: block;
    width: 300px;
}


/* Main Styles */

.wrapper{
    margin: 25px 10px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 500px;
}

.hero-container .hero-title {
    font-size: 25px;
    font-weight: 500;
    width: 50%;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: auto;
}

.hero-title h1{
    padding: 50px 25px;
    text-align: center;
}

.img-container img{
    width: 100%;
    display: block;
}

.hero-video{
    text-align: center;
    background-color: #000;
    padding: 15px 25px;
    border-radius: 40px;
}

.hero-video video{
    height: 380px;
}
.hero-video h2{
    color: #EB892E;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.hero-video p{
    color: #ffffff;
}

/* Footer Styles */

footer {
    text-align: center;
    background-color: #000;
    color:#ffffff ;
}

footer .coming-soon{
    padding: 15px;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.copyright{
    font-size: 16px;
    padding: 25px;
}
